VITE_SUPABASE_URL=https://tcioljtiovxskqswdmjy.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjaW9sanRpb3Z4c2txc3dkbWp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NDI3NzUsImV4cCI6MjA5MDUxODc3NX0.dGewfvehELBU9TZqH_I6zhAW4he3byfJiLBWKjAj81Y
